<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <meta name="keywords" content="">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <div class="content container grey lighten-5">
        <%= render "shared/flash" %>
        <%= render "shared/header" %>
        <div class="container">
          <% if params[:controller] == "words" %>
            <%= render "shared/search" %>
          <% end %>
          <%= yield %>
        </div>
        <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>
